* {
  margin: 0;
  padding: 0;
}

.my-header-container {
  height: 60px;
  background-color: #425be7;
}

.my-header {
  height: 30px;
  background-color: #425be7;
}

.panel-button {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.card-container {
  padding-top: 60px;
}

.practice-card-container {
  padding-top: 30px;
}

.setup-card {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.practice-card {
  width: 100%;
}

.setup-card-body {
  height: 400px;
}

.practice-card-body {
  height: 550px;
}

.card-row {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.card-row-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.practice-card-row-bottom {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
}

.practice-card-button-container {
  padding: 1;
  height: 200px;
  width: 45%;
}

.vertically-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
