* {
  margin: 0;
  padding: 0;
}

.height-400 {
  height: 400px;
}

.height-600 {
  height: 900px;
}

.height-200 {
  height: 200px;
}

.height-50 {
  height: 50px;
}

.height-30 {
  height: 30px;
}

.borderless {
  border: none;
}

.margin-right-20 {
  margin-right: 20px;
}

.width-150 {
  width: 150px;
}

.light-grey {
  color: #7d7d7d;
}

.my-header-container {
  height: 55px;
  background-color: #425be7;
}

.my-header {
  height: 30px;
  background-color: #425be7;
}

.panel-button {
  display: block;
  width: 100%;
  background-color: #fafafb;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.card-container {
  padding-top: 60px;
}

.practice-card-container {
  padding-top: 10px;
}

.setup-card {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.practice-card {
  width: 100%;
}

.setup-card-body {
  height: 400px;
}

.practice-card-body {
  height: 600px;
}

.card-row {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.video-recorder-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.prep-countdown-container {
  border: 1px solid lightgray;
  height: 400px;
  padding-top: 100px;
}

.practice-card-top-row {
  display: flex;
  justify-content: space-between;
}

.card-row-high {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.card-row-mid-high {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.card-row-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.setup-card-row-bottom {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
}

.setup-card-button-container {
  padding: 1;
  height: 200px;
  width: 45%;
}

.vertically-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.dashboard-container {
  margin-top: 50px;
  border: "none";
}

.dashboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.dashboard-align-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.my-modal {
  min-width: 70%;
  min-height: 600px;
}

/* override textarea*/

textarea:focus::placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
