.my-header-container {
  background-color: #425be7;
}

.my-header {
  height: 40px;
  background-color: #425be7;
}

.panel-button {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.practice-card {
  padding-top: 60px;
}

.practice-card-body {
  height: 400px;
}

.practice-card-row {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  width: 100%;
}

.practice-card-row-bottom {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
}

.practice-card-button-container {
  padding: 1;
  height: 200px;
  width: 45%;
}
